# Core dependencies
fastapi
uvicorn
python-dotenv
pydantic
python-multipart

# Database & Storage
supabase
chromadb

# LLM & AI
groq
langchain
langchain-core
langchain-community
langchain-chroma
langchain_groq
langchain_ollama

# Document processing
pandas
pypdf
python-docx
unstructured[docx,pdf]
openpyxl
lxml

# Vector DB & Embeddings
faiss-cpu
